body {
    margin: 0;
    padding: 0;
    background-image: url("../img/29530.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    height: 100vh;
    background-position: right bottom;
}
.menu-bar {
    display: none;
}
nav {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    border-right: 4px solid rgba(96, 96, 96);
}
ul {
    list-style: none;
    position: absolute;
    top: 40px;
    left: 30px;
    width: 80%;
}
a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1,2em;
    display: block;
    border-radius: 5px;
    padding: 20px 35px;
}
a:hover {
    background: rgba(96, 96, 96);
    color: white;
}
@media only screen and (max-width:800px) {
    body {
        background-image: url("../img/29531.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media only screen and (max-width:600px) {
    body {
        background-image: url("../img/29532.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media only screen and (max-width:600px) {
    body {
        padding-top: 68px;
    }
    .menu-bar {
        display: block;
        position: fixed;
        width: 100%;
        background: rgba(255, 255, 255, .5);
        top: 0;
    }
    .bt-menu {
        display: block;
        padding: 20px;
        color: black;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        overflow: hidden;
    }
    header nav {
        width: 150px;
        position: fixed;
        height: calc(100% - 80px);
        background: rgba(96, 96, 96,.5);
        left: -100%;
        overflow: scroll;
    }
    header nav ul {
        text-align: center;
    }
    header nav ul {
        display: block;
        border-bottom: 4px solid rgba(96, 96, 96,.5);
    }
    header nav ul a {
        display: block;
    }
    header nav ul .children {
        position: static;
        width: 120%;
    } 
    header nav ul .children a {
        text-align: center;
        padding-left: -10px;
        background-color: rgba(96, 96, 96,.5);
    }
    nav ul .icon-chevron-samll-down {
        float: right;
    }
    nav ul :hover .children {
        display: none;
    }
}