* {
    padding: 0;
    margin: 0;
}
nav {
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    border-right: 2px solid black;
}
ul {
    list-style: none;
    position: absolute;
    top: 40px;
    left: 30px;
    width: 90%;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1,2em;
    display: block;
    border-radius: 5px;
    padding: 20px 35px;
}
a:hover {
    background: rgb(96, 96, 96);
    color: white;
}
.main-content {
    margin: 40px 40px 40px 320px;
    text-align: justify;
}
p {
    font-size: 1.5em;
    line-height: 1.6em;
}
i {
    padding-right: 30px;
}
.elemento {
    border-top: 2px solid black;
    border-radius: 0;
}
.fas {
    width: 30px;
    font-size: 1.2em;
}

